:root {
  --base-color: #fdf0e7;
  --base-color-dim: #fdf0e780;
  --base-color-border: #fdf0e74d;
  --back-color: #151515;
  --red-color: #e50000;
}

.logo-text {
    font-family: 'Jacquard12', display;
    color: var(--red-color);
}

.slashed {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.08) 0px,
    rgba(255, 255, 255, 0.08) 1px,
    transparent 1px,
    transparent 8px
  );
}

a {
  color: var(--base-color);
}

a:hover {
  color: var(--base-color-dim);
}

body {
    font-family: 'VT323', monospace;
    background-color: var(--back-color);
    color: var(--base-color);
}

.container {
  margin: 0 auto;
  width: 80%;
}

@media (max-width: 960px) {
  .container {
    margin: 0;
    width: 100%;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px var(--base-color-border);
  border-width: 0 1px 1px;
  padding: 1em;
}

.border {
  border: solid 1px var(--base-color-border);
  border-width: 0 0 1px 0;
}

header > .link a {
  margin-left: 0.2em;
}

.content {
  border: solid 1px var(--base-color-border);
  border-width: 0 1px 1px;
  padding: 2em 0;
}

.content .align {
  width: 80%;
  margin: 0 auto;
}

.content .align .header {
  padding: 0 0 2em 0;
}

.content .project {
  display: flex;
  padding: 2em 0;
  width: 50%;
}

#project {
  padding: 2em 0 0 0;
}

.project {
  display: flex;
  align-items: stretch; /* same height for img + text */
}

.content .img,
.content .txt {
  width: 50%;
}

.content .img {
  padding-right: 1em;
  display: flex; /* allows height to propagate */
}

.content .img .slashed {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.content .img .slashed img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.content .txt {
  width: 50%;
}

footer {
  border: solid 1px var(--base-color-border);
  border-width: 0 1px 1px;
  padding: 0 10px;
}

