:root {
  --base-color: #fdf0e7;
  --base-color-dim: #fdf0e780;
  --base-color-border: #fdf0e74d;
  /* --back-color: #151515; */
  --back-color: #0b0b0b;
  --red-color: #e50000;
}

.dn {
  display: none;
}

.logo-text {
  font-family: 'Jacquard12', display;
  color: var(--red-color);
}

.svanim {
  opacity: 0;
}

.slashed {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.08) 0px,
    rgba(255, 255, 255, 0.08) 4px,
    transparent 4px,
    transparent 8px
  );
  opacity: 0;
}

a {
  color: var(--base-color);
  text-decoration: none;
  transition: color 300ms;
  position: relative; /* mandatory to position the ::after element */
}

a:hover {
  color: var(--base-color-dim);
}

a:hover::after {
  width: 0;
}

body {
    font-family: 'VT323', monospace;
    background-color: var(--back-color);
    color: var(--base-color);
    overflow: hidden; /* for the loading screen */
}

#loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background: #000000;
}

#loader .svg {
  width: 75vmin;
}

.svg > svg:first-child {
  position: absolute; /* to position the shadow one below */
}

.count {
  position: absolute;
  top: 1em;
  color: var(--red-color);
}

.container {
  margin: 0 auto;
  width: 80%;
}

@media (max-width: 960px) {
  .container {
    margin: 0;
    width: 100%;
  }
}

.border {
  border: solid 1px var(--base-color-border);
  border-width: 0 0 1px 0;
  opacity: 0; /* border animation */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px var(--base-color-border);
  border-width: 0 1px 1px;
  padding: 1em;
  opacity: 0; /* border animation */
}

header > .link a {
  margin-left: 0.2em;
}

.content {
  border: solid 1px var(--base-color-border);
  border-width: 0 1px 1px;
  padding: 2em 0 0 0;
  opacity: 0; /* border animation */
}

.content > .border:last-child {
  padding-bottom: 2em;
}

.content .align {
  width: 80%;
  margin: 0 auto;
}

.content .align .header {
  padding: 0 0 2em 0;
}

.header p {
  opacity: 0;
}

.content .project {
  display: flex;
  flex-direction: column;
}

#project {
  padding: 2em 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

@media (max-width: 1200px) {
  #project {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  #project {
    grid-template-columns: 1fr;
  }
}


.content .img,
.content .txt {
  width: 100%;
}

.content .img {
  display: flex;
}

.content .img .slashed {
  width: 100%;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 2em;
}

.content .img .slashed img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.content .txt {
  padding-top: 1em;
}

footer {
  border: solid 1px var(--base-color-border);
  border-width: 0 1px 1px;
  padding: 1em;
}

